
BODY {
	PADDING: 0px; MARGIN: 0px; FONT-FAMILY: "ו", "Arial Narrow"; BACKGROUND: url(../image/top_bg_n.gif) repeat-x 50% top; FONT-SIZE: 14px;
}
UL,LI {
	LIST-STYLE-TYPE: none; LIST-STYLE-IMAGE: none
}
IMG {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; BORDER-TOP: 0px; BORDER-RIGHT: 0px
}
A:link {
	COLOR: #466AAD; TEXT-DECORATION: none
}
A:visited {
	COLOR: #466AAD; TEXT-DECORATION: none
}
A:hover {
	COLOR: #466AAD; TEXT-DECORATION: underline
}

div.test{border:solid green 1px;}

.container{
	width:893px;
	min-height:550px;
	margin-left:auto;
	margin-right:auto;
	line-height:25px;
	float:none;
}

.container div{
	float:left;
} 

.container div.head{
	background:url(../image/head.png);
	width:100%;
	padding-top:15px;
	padding-bottom:15px;
}
.container div.body{
	width:100%;
	background-color:white;
}

a.menuNormal{
}

a.menuFocusBg{
	background-color:#679AF9;
	font-weight:bold;
	color:white;
}

.container .download,.container .floatdown{
	width:260px;
	height:450px;
	margin-top:3px;
	margin-left:3px;
	float:right;
}

.download .btn , .container .floatdown .btn{
	display:block;
	width:120px;
	line-height:35px;
	border:solid #CADDFF 1px;
	background-color:#F1313F;
	text-align:center;
	margin-left:30px;
	margin-top:50px;
	color:white;
	cursor:pointer;
}
.container .footer{
	width:100%;
	height:50px;
	margin-top:3px;
	color:#999;
}
.container .footer span{
	margin-left:10px;
	line-height:40px;
}

.divborder{border:solid #CADDFF 1px;}
.topline{border-top:solid #CADDFF 1px;}
.bottomline{border-bottom:solid #CADDFF 1px;}

.content{
	width:580px;
	height:auto;
	min-height:350px;
	padding:20px;
	margin:2px;
}

.content h1{
	font-size:24px;
	width:100%;
}

.content .mark{
	background-color:#DDDDDD;
	font-family:Symbola, serif;
	padding:2px;
}

.editDemo{
	border:solid #AAA 1px;
	min-height:100px;
	width:90%;
	padding:10px;
}

.contentArea{
	height:100px;
	width:90%;
}

.notice{
	background-color:#FAFF75;
	padding:10px;
	border:solid red 1px;
	margin-bottom:10px;
}

.notice h2{
	margin-top:10px;
	margin-bottom:10px;
}